<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <style>

textarea {
  width: 80%;
  height: 500px;
  font-family: monospace;
}

    </style>
  </head>
  <body>

<h1>Front edit</h1>

<form action="<%=url_for%>">
  <select name="file">
    <% FrontEdit.editables.each_pair do |k, v| %>
      <optgroup label="<%= k %>">
        <% v.each do |path| %>
          <option value="<%= path %>" <%= params[:file] == path ? 'selected=\"selected\"' : nil %>><%= FrontEdit.link(path)%></li>
        <% end %>
      </optgroup>
    <% end %>
  </select>
  <input type="submit" value="load"/>
</form>

<textarea value="source"><%= @source %></textarea>

<hr/>

  </body>
</html>
