<form id="fileSelector" action="<%=url_for%>">
  <select name="file">
    <% Fredit.editables.each_pair do |k, v| %>
      <optgroup label="<%= k %>">
        <% v.each do |path| %>
          <option value="<%= path %>" <%= @path == path ? 'selected=\"selected\"' : nil %>><%= Fredit.link(path)%></li>
        <% end %>
      </optgroup>
    <% end %>
  </select>
  <input type="submit" value="change file"/>
</form>

<form action="<%=url_for(:action => :update)%>" method="post">
  <input type="hidden" name="file" value="<%=@path%>"/>
  <textarea name='source'><%= @source %></textarea>

  <table>
    <tr>
      <td>Edit Message (optional):</td>
      <td>
        <input type="text" name="edit_message" value="" placeholder="Describe the edit " size="50"/>
      </td>
    </tr>
    <tr>
      <td>Edited By (required): </td>
      <td>
        <input type="text" name="commit_author" value="<%=session[:commit_author]%>" placeholder="Your Name <yourname@example.com>" size="50"/>
      </td>
    </tr>
    <tr>
      <td>Action:</td>
      <td>
        <input hidden="text" name="file_path" value="<%=@path%>" />
        <input type="submit" name="commit" value="update this file"/>
        <input id="deleteBtn" type="submit" name="commit" value="delete this file"/>
      </td>
    </tr>
  </table>
</form>

<form id="createFileForm" action="<%=url_for%>" method="get">
  <table>
    <tr>
      <td>Create file at path:</td>
      <td>
        <input type="text" name="new_path" value="" placeholder="<%=Fredit.editables[:views].first%>" size="50"/>
      </td>
    </tr>
    <tr>
      <td>Action:</td>
      <td>
        <input type="submit" name="commit" value="create file"/>
      </td>
    </tr>
  </table>
</form>
