<% content_for :head do %>
  <%= javascript_include_tag 'http://danielchoi.com/ace/ace.js' %>
  <script src="http://danielchoi.com/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://danielchoi.com/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var aceEditor;
    $(function() {
      aceEditor = ace.edit('sourceEditBox');
      aceEditor.setTheme("ace/theme/twilight");
      var JavaScriptMode = require("ace/mode/javascript").Mode;
      aceEditor.getSession().setMode(new JavaScriptMode());
      aceEditor.renderer.setShowPrintMargin(false);
      aceEditor.getSession().setTabSize(2);
      aceEditor.getSession().setUseSoftTabs(true);
      aceEditor.getSession().setUseWrapMode(false);

      $('#sourceEditor').bind('submit', function() {
        var source = aceEditor.getSession().getValue();
        var sourceInput = $("<input>").attr("type", "hidden").attr("name", "source").val(source);
        $('#sourceEditor').append($(sourceInput));
      });
    });;
  </script>
<% end %>

<hr/>

<form id="sourceEditor" action="<%= fredit_path %>" method="post">
  <input name="_method" type="hidden" value="put" />
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="file" value="<%=@path%>"/>

  <div id='sourceEditBox' name='source'><%= @source %></div>

  <table>
    <tr>
      <td>File:</td>
      <td>
        <%= @path %>
      </td>
    </tr>
    <tr>
      <td>Edit Message (optional):</td>
      <td>
        <input type="text" name="edit_message" value="" placeholder="Describe the edit " size="50"/>
      </td>
    </tr>
    <tr>
      <td>Edited By (required): </td>
      <td>
        <input type="text" name="commit_author" value="<%=session[:commit_author]%>" placeholder="Your Name <yourname@example.com>" size="50"/>
      </td>
    </tr>
    <tr>
      <td>Action:</td>
      <td>
        <input hidden="text" name="file_path" value="<%=@path%>" />
        <input type="submit" name="commit" value="update this file"/>
        <input id="deleteBtn" type="submit" name="commit" value="delete this file"/>
      </td>
    </tr>
  </table>
</form>

<form id="createFileForm" action="<%= fredit_path %>" method="post">
  <table>
    <tr>
      <td>Create file at path:</td>
      <td>
        <input type="text" name="new_file" value="" placeholder="<%=Fredit.editables[:views].first%>" size="50"/>
      </td>
    </tr>
    <tr>
      <td>Action:</td>
      <td>
        <input type="submit" name="commit" value="create file"/>
      </td>
    </tr>
  </table>
</form>
<hr/>

<form id="uploadFileForm" action="/fredit/upload" method="post" enctype='multipart/form-data'>
  <input hidden="text" name="file_path" value="<%=@path%>" />
  <table>
    <tr>
      <td>Upload file to application directory:</td>
      <td>
        <input type="text" name="target_dir" value="public/images" size="50"/>
      </td>
    </tr>
    <tr>
      <td>Select file to upload:</td>
      <td>
        <input type="file" name="upload_file" />
      </td>
    </tr>
    <tr>
      <td>Uploaded By (required): </td>
      <td>
        <input type="text" name="commit_author" value="<%=session[:commit_author]%>" placeholder="Your Name <yourname@example.com>" size="50"/>
      </td>
    </tr>
    <tr>
      <td>Action:</td>
      <td>
        <input type="submit" name="upload" value="upload file"/>
      </td>
    </tr>
  </table>
</form>

<br/>
