<!DOCTYPE html>
<html>
  <head>
    <title><%=@path%></title>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' %>
    <%= yield :head %>
  
    <style type='text/css'>
body {
  padding-top:0;
  padding-bottom: 30px;
  font-family: Verdana, Helvetica, sans;
  font-size: 12px;
  margin-left: 20px;
  width: 1100px;
  background-color: #EDEDED;
}
h1#appName {
  margin:0;
  padding:0;
  display: inline;
}
h1#appName em {
  font-size: smaller;
}
section#editor {
  float: left;
  width: 800px;
}
section#git {
  float: left;
  width: 220px;
  padding-left: 20px;
}
section#git h3 {
  margin-top: 0;
  margin-bottom: 0.7em;
}
section#git ul {
  padding-left: 0;
  list-style-type: none;
}

textarea {
  width: 100%;
  height: 500px;
  font-family: monospace;
}
#notice {
  background-color: yellow;
}
input#deleteBtn {
  float:right;
}
input[type=text] {
  width: 100%;
}
table {
  width: 100%
}
form#fileSelector {
  float:right;
}
form#createFileForm {
}

#sourceEditBox {
  position: relative;
  width: 800px;
  height: 500px;
}    
</style>

  </head>
  <body>

    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>

    <section id="editor">
      <h1 id="appName">fredit <em>front-end edit</em> <small>(<%=Fredit::VERSION%>)</h1>
      <form id="fileSelector" action="<%=fredit_path%>">
        <select id="fileSelectorDropDown" name="file">
          <% Fredit.editables.each_pair do |k, v| %>
            <optgroup label="<%= k %>">
              <% v.each do |path| %>
                <option value="<%= path %>" <%= @path == path ? 'selected=\"selected\"' : nil %>><%= Fredit.link(path)%></li>
              <% end %>
            </optgroup>
          <% end %>
        </select>
        <input type="submit" id="changeFileBtn" value="change file"/>
      </form>
      <script>
        $(document).ready(function() {
          $('#fileSelectorDropDown').bind('change', function() {
            $('#fileSelector').submit();
          });
          $('#changeFileBtn').hide();
        });
      </script>

      <%= yield %>
    </section>

    <section id="git">
      <nav>
        <h3>git</h3>
        <div id="currentBranch">
          Current branch:
          <strong><%= @git.current_branch %></strong>
        </div>

        <h4>Recent edits</h4>

        <ul>
          <% @git_log.each do |commit| %>
            <li>
              <%= link_to "#{commit.date.strftime('%m-%d-%y')}", 
                          fredit_revision_path(:sha => commit.sha, :file => @path), 
                          :title => commit.message %> 
              <%= commit.author && commit.author.name %>:
              <%= truncate(commit.message, :length => 15) %>
            </li> 
          <% end %>
        </ul>

      </nav>
    </section>
        
  </body>
</html>

